.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left: 50px;
}
.input-div{
    background-color: rgb(61, 55, 55);
    padding: 10px;
}
.input{
    height: 20px;
    width: 1000px;
    margin-left: 150px;
    padding: 5px;
}

@media only screen (min-width: 400px) and (max-width: 700px){
    .input{
        width: 388px;
        margin: 0px;
    }
    .input-div{
        width: 688px;
    }
}
